<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header">
                        <div class="pull-left">
                            <h4>管理员列表</h4>      
                        </div>
                        <a href="{:U('admin/addUser')}" class="btn btn-primary pull-right margin-top">添加管理员</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table  table-header">
                            <thead>
                                <tr>
                                    <td>用户名</td>
                                    <td>最后登录时间</td>
                                    <td>最后登录IP</td>
                                    <!--<td>用户角色</td>-->
                                    <td>状态</td>
                                    <td class="w15">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="list" item="vo"> 
                                        <tr>
                                            <td>{$vo.username}</td>
                                            <td><if condition="$vo['last_login']">{$vo.last_login|date="Y-m-d H:i:s",###}<else />未登录过</if></td>
                                            <td><if condition="$vo['last_ip']">{$vo.last_ip}<else />未登录过</if></td>
                                            <td>
                                                <if condition="!$vo['lock']">正常<else />冻结</if>
                                            </td>
                                            <td>
                                                <if condition="$vo['username'] neq C('RBAC_SUPERADMIN')">
                                                    <a href="{:U('admin/editUser', array('id'=>$vo['user_id']))}">修改</a>
                                                    <span class="text-explode">|</span>
                                                    <if condition="$vo['lock']"><a href="{:U('admin/lock', array('id'=>$vo['user_id'],'lock'=>0))}">激活</a><else/><a href="{:U('admin/lock', array('id'=>$vo['user_id'],'lock'=>1))}">冻结</a></if>
                                                    <span class="text-explode">|</span>
                                                    <a href="{:U('admin/delUser', array('id'=>$vo['user_id']))}">删除</a>
                                                </if>
                                            </td>
                                        </tr>
                                    </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
