<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header">
                        <a href="javascript:history.go(-1)">
                            <button class="btn btn-default margin-top"><i class="fa fa-level-up"></i>返回</button>
                        </a> 
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <div id="warp">
                            <a href="{:U('admin/addNode')}" class="add-app">添加应用</a>
                            <foreach name="node" item="app">
                                <div class="app">
                                    <p>
                                        <strong>{$app.title}</strong>
                                        [<a href="{:U('admin/addNode',array('pid'=>$app['id'],'level'=>2))}">添加控制器</a>]
                                        [<a href="{:U('admin/editNode',array('id'=> $app['id']))}">修改</a>]
                                        [<a href="{:U('admin/delNode',array('id'=> $app['id']))}">删除</a>]
                                    </p>
                                    <foreach name="app.child" item="action">
                                        <dl>
                                            <dt>
                                                <strong>{$action.title}</strong>
                                                [<a href="{:U('admin/addNode',array('pid'=>$action['id'],'level'=>3))}">添加方法</a>]
                                                [<a href="{:U('admin/editNode',array('id'=> $action['id']))}">修改</a>]
                                                [<a href="{:U('admin/delNode',array('id'=> $action['id']))}">删除</a>]
                                            </dt>
                                            <foreach name="action.child" item="method">
                                                <dd>
                                                    <span>{$method.title}</span>
                                                    [<a href="{:U('admin/editNode',array('id'=> $method['id']))}">修改</a>]
                                                    [<a href="{:U('admin/delNode',array('id'=> $method['id']))}">删除</a>]
                                                </dd>
                                            </foreach>
                                        </dl>
                                    </foreach>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
     <script type="text/javascript">
        $(function(){
            $('input[level =1]').click(function(){
                var inputs = $(this).parents('.app').find('input');
                $(this).is(':checked') ? inputs.prop('checked',true) : inputs.prop('checked',false);
            })
            $('input[level =2]').click(function(){
                var inputs = $(this).parents('dl').find('input');
                $(this).is(':checked') ? inputs.prop('checked',true) : inputs.prop('checked',false);
            })
        })
    </script>
</body>
</html>
