<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product my-index right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="info-title clearfix">
                        <div class="pull-left">
                            <h4 style="padding-top: 20px;"><strong>{$admin.username}，欢迎您登录管理系统！</strong></h4>
                        </div>
                        <div class="time-title pull-right">
                            <div class="year-month pull-left">
                                <p class="week">{$sys_info.week}</p>
                                <p><span>{$sys_info.year}</span>年<em>{$sys_info.month}</em></p>
                            </div>
                            <div class="hour-minute pull-right">
                                <strong>{$sys_info.time}</strong>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content-list">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="content">
                                    <div class="w30 left-icon pull-left">
                                        <span class="glyphicon glyphicon-file blue"></span>
                                    </div>
                                    <div class="w70 right-title pull-right">
                                        <div class="title-content">
                                            <p>今天新增订单数</p>
                                            <h3 class="number">0</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content">
                                    <div class="w30 left-icon pull-left">
                                        <span class="glyphicon glyphicon-file orange"></span>
                                    </div>
                                    <div class="w70 right-title pull-right">
                                        <div class="title-content">
                                            <p>今日新增会员数</p>
                                            <h3 class="number">?</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content">
                                    <div class="w30 left-icon pull-left">
                                        <span class="glyphicon glyphicon-file green"></span>
                                    </div>
                                    <div class="w70 right-title pull-right">
                                        <div class="title-content">
                                            <p>今日待审核评论数</p>
                                            <h3 class="number">?</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content">
                                    <div class="w30 left-icon pull-left">
                                        <span class="glyphicon glyphicon-file violet"></span>
                                    </div>
                                    <div class="w70 right-title pull-right">
                                        <div class="title-content">
                                            <p>今日访问量</p>
                                            <h3 class="number">?</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtop-10">
                            <div class="col-md-3 section_select">
                                <a href="">
                                    <i class="ice ice_y"></i>
                                    <div class="t">待处理订单</div>
                                    <span class="number">5</span>
                                </a>
                            </div>

                            <div class="col-md-3 section_select">
                                <a href="">
                                    <i class="ice ice_q"></i>
                                    <div class="t">商品数量</div>
                                    <span class="number">5</span>
                                </a>
                            </div>
                            <div class="col-md-3 section_select">
                                <a href="">
                                    <i class="ice ice_w"></i>
                                    <div class="t">文章数量</div>
                                    <span class="number">5</span>
                                </a>
                            </div>
                            <div class="col-md-3 section_select">
                                <a href="">
                                    <i class="ice ice_f"></i>
                                    <div class="t">会员总数</div>
                                    <span class="number">5</span>
                                </a>
                            </div>
                        </div>
                        <!-------信息列表------->
                        <div class="row newslist" style="margin-top:20px;">
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        操作日志
                                    </div>
                                    <foreach name="action_log.action" item="vo">
                                    <div class="panel-body">
                                        <div class="w50 pull-left text-left">{$vo.log_info}</div>
                                        <div class="w25 pull-left text-center">{$vo.log_time|date="Y年m月d日 H:i:s",###}</div>
                                        <div class="w25 pull-left text-right">{$vo.log_ip}</div>
                                    </div>
                                    </foreach>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        登录记录
                                    </div>
                                    <foreach name="action_log.login" item="vo">
                                    <div class="panel-body">
                                        <div class="w50 pull-left text-left">{$vo.log_time|date="Y年m月d日 H:i:s",###}</div>
                                        <div class="w50 pull-left text-right">{$vo.log_ip}</div>
                                    </div>
                                    </foreach>
                                </div>
                            </div>
                        </div>
                        <div class="row newslist">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">版本信息</div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">程序版本:</div>
                                        <div class="w30 pull-left">{$sys_info.version}</div>
                                        <div class="w20 pull-left">更新时间:</div>
                                        <div class="w30 pull-left">2017-09-30</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">程序开发:</div>
                                        <div class="w30 pull-left"><a href="https://www.zenghao.cc" target="_blank">Mr Jack</a></div>
                                        <div class="w20 pull-left">版本所有:</div>
                                        <div class="w30 pull-left">盗版必究</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row newslist">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        系统信息
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">服务器操作系统:</div>
                                        <div class="w30 pull-left">{$sys_info.os}</div>
                                        <div class="w20 pull-left">服务器域名/IP:</div>
                                        <div class="w30 pull-left"><span class="text-green-main">{$sys_info.domain} [ {$sys_info.ip} ]</span></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">服务器环境:</div>
                                        <div class="w30 pull-left">{$sys_info.web_server}</div>
                                        <div class="w20 pull-left">PHP 版本:</div>
                                        <div class="w30 pull-left">{$sys_info.phpv}</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">Mysql 版本:</div>
                                        <div class="w30 pull-left">{$sys_info.mysql_version}</div>
                                        <div class="w20 pull-left">GD 版本:</div>
                                        <div class="w30 pull-left">{$sys_info.gdinfo}</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">文件上传限制:</div>
                                        <div class="w30 pull-left">{$sys_info.fileupload}</div>
                                        <div class="w20 pull-left">最大占用内存:</div>
                                        <div class="w30 pull-left">{$sys_info.memory_limit}</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">最大执行时间:</div>
                                        <div class="w30 pull-left">{$sys_info.set_time_limit}</div>
                                        <div class="w20 pull-left">安全模式:</div>
                                        <div class="w30 pull-left">{$sys_info.safe_mode}</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="w20 pull-left">Zlib支持:</div>
                                        <div class="w30 pull-left">{$sys_info.zlib}</div>
                                        <div class="w20 pull-left">Curl支持</div>
                                        <div class="w30 pull-left">{$sys_info.curl}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
    <script type="text/javascript">
        setInterval(function(){
            var myDate = new Date();
            //获取当前年
            var year=myDate.getFullYear();
            //获取当前月
            var month=myDate.getMonth()+1;
            //获取当前日
            var date=myDate.getDate();
            //获取当前小时数(0-23)
            var h = myDate.getHours();
            //获取当前分钟数(0-59)
            var m = myDate.getMinutes();
            //获取当前秒数(0-59)
            var s = myDate.getSeconds();
            var today = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
            var week = today[myDate.getDay()];
            $('.year-month span').html(year);
            $('.year-month em').html(padZero(month)+'月'+padZero(date)+'日');
            $('.year-month .week').html(week);
            $('.hour-minute strong').html(padZero(h) +':'+ padZero(m) +':' + padZero(s));
        },1000);

        function padZero(num){
            return num < 10 ? '0'+ num : num;
        }
    </script>
</body>
</html>
