<div class="x-footer">
    <div class="x-whiteBoard footerTop">
        <div class="x-main">
            <ul>
                <li>
                    <h1>服务热线</h1> <h2>400-9965-022</h2> <span>9:00 - 21:00</span>
                </li>
                <li class="middle">
                    <h1>名创优选品牌宣言</h1> <p> 名创优品旗下电商品牌，从名创优品2000家线下旗舰店筛选最优质的产品，秉承从选料，设计，生产，检测都严苛把控，只为把优质的商品送到你面前。 </p>
                </li>
                <li>
                    <h1>扫码关注公众号&nbsp;</h1>
                    <p></p>
                    <img src="http://s1.hgcang.com/bsimg/ec/public/images/67/c2/67c275e04d456892a6922878b842ce60.png?1505372243#h">
                </li>
            </ul>
            <ul>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <div class="x-main">
            <div class="x-main">
                <ul class="borderB">
                    <li>
                        <img src="__HOME_IMAGES__/footerIcon1.png" alt=""> <span>名创优选质量保障</span>
                    </li>
                    <li>
                        <img src="__HOME_IMAGES__/footerIcon2.png" alt=""> <span>全场满79元包邮</span>
                    </li>
                    <li>
                        <img src="__HOME_IMAGES__/footerIcon3.png" alt=""> <span>30天无理由退换</span>
                    </li>
                </ul>
                <ul class="link">
                    <li>
                        <a href="/article-index_question-i-13.html">常见问题</a>
                    </li>
                    <li>
                        <a href="/article-index_aftersale-i-15.html">售后服务</a>
                    </li>
                    <li>
                        <a href="/article-index_acceptance-i-14.html">配送与验收</a>
                    </li>
                    <li>
                        <a href="http://p.qiao.baidu.com/im/index?siteid=11018217&amp;ucid=22851248&amp;cw=170918135943703">联系客服</a>
                    </li>
                    <li>
                        <a href="/article-index_privacy-i-25.html">隐私政策</a>
                    </li>
                    <li>
                        <a href="/article-index_service-i-24.html">服务协议</a>
                    </li>
                </ul>
                <p>©&nbsp;2017&nbsp;MINISO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备案号：粤ICP备15008399号-3</p>
                <p>为了更好的体验，推荐您使用Chrome浏览器</p>
            </div>
        </div>
    </div>
</div>