<link rel="stylesheet" href="__HOME_CSS__/idangerous.swiper.css">
<link rel="icon" href="http://m.miniso.cn/public/app/site/statics/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://m.miniso.cn/public/app/site/statics/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__HOME_CSS__/app.css">
<link rel="stylesheet" href="__HOME_CSS__/styles.css">
<script src="__HOME_JS__/jquery-1.8.3.min.js"></script>
<script src="__HOME_JS__/idangerous.swiper.min.js"></script>
<script src="__HOME_JS__/plugins/Modal.js"></script>