<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header">
                        <div class="pull-left">
                            <h4>{$plugin.name}模板设置</h4>     
                            <a href="javascript:history.go(-1)">
                                <button class="btn btn-default"><i class="fa fa-level-up"></i>返回</button>
                            </a> 
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-box row">
                        <div class="col-md-12">
                            <form class="form-inline" action="" method="post">   
                                <div class="form-group">
                                    <select class="form-control" id="cat_id" name="cat_id" onchange="select_tag(this)">
                                        <option value="">请选择标签</option>
                                        <!--<option value="shop-province">网店-省份</option>-->
                                        <!--<option value="shop-city">网店-城市</option>-->
                                        <!--<option value="shop-district">网店-区/县</option>-->
                                        <option value="100">网店-名称</option>
                                        <option value="130">网店-联系电话</option>
                                        <option value="100">网店-地址</option>
                                        <option value="120">收件人-省份</option>
                                        <option value="120">收件人-城市</option>
                                        <option value="120">收件人-区/县</option>
                                        <option value="120">收件人-手机</option>
                                        <option value="120">收件人-邮编</option>
                                        <option value="120">收件人-地址</option>
                                        <option value="150">收件人-详细地址</option>
                                        <option value="120">收件人-姓名</option>
                                        <option value="60">年份</option>
                                        <option value="60">月份</option>
                                        <option value="60">日期</option>
                                        <option value="120">订单-订单号</option>
                                        <option value="100">订单-备注</option>
                                    </select>
                                </div>
                                 <div class="input-group pull-right">
                                    <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                                </div>
                            </form>  
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <!--表单数据-->
                        <iframe id="edit_frame" src="{:U('Admin/system/edit_shipping_print',array('code'=>$plugin['code']))}" frameborder="0" width="100%" style="height:600px"></iframe>
                        <button type="button" onclick="save_frame_content()" class="btn btn-primary">保存模板</button>
                    </div>
                        
                    
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
    <script src="__ADMIN_JS__/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    function save_frame_content(){
        var frameObj = document.getElementById('edit_frame');
        var frameContent = frameObj.contentWindow.document.body.outerHTML;
        var url = "{:U('Admin/system/edit_shipping_print',array('code'=>$plugin['code']))}";
        $.post(url,{html:frameContent},function(data){
            data = $.parseJSON(data);
            if(data.status == 1){
                layer.msg('保存成功', {icon: 1,shade:[0.5,'#333']});  // alert('保存成功 ');
            }else{
                layer.msg('保存失败', {icon: 2,shade:[0.5,'#333']});  // alert('保存失败');
            }
        });
    }
    //标签选择
    function select_tag(t){
        var v = $(t).val();
        var text = $(t).find("option:selected").text();
        if(!v){
            return;
        }else{
            var frameObj = document.getElementById('edit_frame');
            var frameContent = frameObj.contentWindow.document.body.outerHTML;
            var del = "<i style='cursor:default' onclick='$(this).parent().remove();'>&nbsp;&nbsp;&nbsp;&nbsp;</i>";
            var div = '<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width:'+v+'px; right: auto; height: 22px; bottom: auto; left: 130px; top: -300px;">'+text+del+'</div>';
            div = div + '\n';
            $(frameObj.contentWindow.document).find('body').append(div);
            $(frameObj.contentWindow.document).find(".tags").draggable();
        }
    }
    </script>
</body>
</html>
