<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <include file="Public/meta" />
    </head>
<body style="font-size: 24px;">
    <div class="ms-bottomNav">
        <div class="ms-fixed-header">
            <div class="ms-header ms-fixed-top">
                <div class="ms-content">
                    <!-- 头部内容 开始 -->
                    <div class="ms-row ms-header-txt">
                        <div class="left">
                        </div>
                        <div class="mid">
                            <span id="title">购物车</span>
                        </div>
                        <div class="right">
                            <a href="javascript:void(0);" id="topEdit">
                                <span class="txt">编辑</span>
                            </a>
                        </div>
                    </div>
                    <!-- 头部内容 结束 -->
                    <script>
                        $('#topEdit').removeAttr('id');
                    </script>
                </div>
            </div>
        </div>
        <div class="ms-noResult" id="noResult">
            <div class="ms-content">
                <div class="pic">
                    <img src="__MOBILE_IMAGES__/cart-404.png" alt="">
                </div>
                <div class="txt">去添加点什么吧</div>
            </div>
        </div>
        <div class="ms-shoppingList swipingList" id="swiping" style="z-index:100;">


            <!-- 判断是否在活动当中，获取当前库存 -->
            <div class="item">
                <div class="content" data-status="close">
                    <a href="javascript:void(0);" class="ms-jsRadio item-radio active" obj_indent="goods_146_567" id="goods_ident_goods_146_567" goods_id="146" add_time="1511841834"></a>
                    <div class="info ">
                        <a href="/wap/product-567.html" class="pic">
                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/ae/6c/ae6cf5a3badbdd4e907b04a1db621750.jpg#h" alt="">
                        </a>
                        <a href="/wap/product-567.html" class="desc">
                            <p class="name">mini poni水感丝滑雾面唇釉</p>
                            <p class="brief">已选择：01国际红 </p>
                            <div>
                                <p class="price">¥24.9</p>
                                <div class="">
                                    <button class="none cartCountDown">-</button>
                                    <input type="number" class="cartItemCount" value="1" autocomplete="off" goods_ident="goods_146_567">
                                    <button class="cartCountUp">+</button>
                                </div>
                            </div>
                            <span class="num">x<i id="num">1</i></span>
                        </a>

                        <!-- 编辑 开始 -->
                        <div class="desc_2">
                            <a href="javascript:void(0);" id="ms-jsChooseSpec" onclick="methods.showGoodsSpecDetail(this, '567')">
                                已选择：
                                <span>
                        01国际红                    </span>
                                <i class="ms-icon ms-icon-btn-down"></i>
                            </a>
                            <div>
                                <!--<p class="price">&yen; 24.90</p>-->
                                <p class="price">¥24.9</p>
                                <div class="">
                                    <button class="none cartCountDown">-</button>
                                    <input type="number" class="cartItemCount" value="1" autocomplete="off" goods_ident="goods_146_567">
                                    <button class="cartCountUp">+</button>
                                </div>
                            </div>
                        </div>
                        <!-- 编辑 结束 -->
                    </div>
                </div>

                <div class="zIndexButton">
                    <div onclick="methods.addFav(this, 'goods_146_567', '146')">
                        <a href="javascript:void (0);">
                            <span>移至</span>
                            <span>收藏夹</span>
                        </a>
                    </div>
                    <div id="deleteCart" class="deleteCart" data-cart-ident="goods_146_567"><a href="javascript:void (0);">删除</a></div>
                </div>

                <input type="hidden" id="goods_146_567_store" value="182">
                <input type="hidden" id="goods_146_567_name" value="mini poni水感丝滑雾面唇釉">
                <input type="hidden" id="goods_146_567_item_price" value="24.90">

            </div>

            <!-- 判断是否在活动当中，获取当前库存 -->
            <div class="item">
                <div class="content" data-status="close">
                    <a href="javascript:void(0);" class="ms-jsRadio item-radio active" obj_indent="goods_58_318" id="goods_ident_goods_58_318" goods_id="58" add_time="1511841771"></a>
                    <div class="info none">
                        <a href="/wap/product-318.html" class="pic">
                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/02/7b/027b6dafd0ea9bd6ce8efdd8c69bffea.jpg#h" alt="">
                        </a>
                        <a href="/wap/product-318.html" class="desc">
                            <p class="name">免水洗发喷雾50ml</p>
                            <p class="brief">已选择：
                                阳光柠檬                </p>
                            <!--<p class="price">&yen; 9.90</p>-->
                            <div>
                                <p class="price">¥9.9</p>
                                <div class="">
                                    <button class="none cartCountDown">-</button>
                                    <input type="number" class="cartItemCount" value="1" autocomplete="off" goods_ident="goods_58_318">
                                    <button class="cartCountUp">+</button>
                                </div>
                            </div>
                            <span class="num">x<i id="num">1</i></span>
                        </a>

                        <!-- 编辑 开始 -->
                        <div class="desc_2">
                            <a href="javascript:void(0);" id="ms-jsChooseSpec" onclick="methods.showGoodsSpecDetail(this, '318')">
                                已选择：
                                <span>
                        阳光柠檬                    </span>
                                <i class="ms-icon ms-icon-btn-down"></i>
                            </a>
                            <div>
                                <!--<p class="price">&yen; 9.90</p>-->
                                <p class="price">¥9.9</p>
                                <div class="">
                                    <button class="none cartCountDown">-</button>
                                    <input type="number" class="cartItemCount" value="1" autocomplete="off" goods_ident="goods_58_318">
                                    <button class="cartCountUp">+</button>
                                </div>
                            </div>
                        </div>
                        <!-- 编辑 结束 -->
                    </div>
                </div>

                <div class="zIndexButton">
                    <div onclick="methods.addFav(this, 'goods_58_318', '58')">
                        <a href="javascript:void (0);">
                            <span>移至</span>
                            <span>收藏夹</span>
                        </a>
                    </div>
                    <div id="deleteCart" class="deleteCart" data-cart-ident="goods_58_318"><a href="javascript:void (0);">删除</a></div>
                </div>

                <input type="hidden" id="goods_58_318_store" value="421">
                <input type="hidden" id="goods_58_318_name" value="免水洗发喷雾50ml">
                <input type="hidden" id="goods_58_318_item_price" value="9.90">

            </div>

            <script>
                bindCartQuantityEvent(cartInputCheck);

                //== 为数量选择框绑定事件
                function bindCartQuantityEvent(callback) {
                    var value = '';

                    $('.cartCountDown, .cartCountUp').on("click", function (e) {
                        e.preventDefault();

                        if (!edit_flag) return false;
                        edit_flag = false;

                        var input = $(this).siblings('.cartItemCount');
                        value = parseInt(input.val());
                        value = $(this).hasClass('cartCountUp') ? value + 1 : value - 1;
                        callback && callback(input, value);
                    });

                    $('.cartItemCount').on('change', function (e) {
                        e.preventDefault();

                        value = parseInt($(this).val());
                        callback && callback($(this), value);
                    }).on('click', function (e) {
                        e.preventDefault();
                    });
                }

                //== 商品数量输入框正确性检测
                function cartInputCheck(input, value, updateFlag) {
                    if(!input) return false;

                    var min = 1;
                    var max = 99;
                    var obj_ident = input.parents('div.info').siblings('a.ms-jsRadio').attr('obj_indent');
                    var store = parseInt($('#' + obj_ident + '_store').val());

                    if(value <= min) {
                        value = min;
                    } else if(value >= max){
                        value = max;
                    } else if(isNaN(value)) {
                        value = min;
                    }

                    if(store && store - value <= 0) {
                        value = store;
                    }

                    if (value <= min) {
                        input.siblings('button.cartCountDown').addClass('none');
                    } else {
                        input.siblings('button.cartCountDown').removeClass('none');
                    }

                    if (value >= max || store - value <= 0) {
                        input.siblings('button.cartCountUp').addClass('none');
                    } else {
                        input.siblings('button.cartCountUp').removeClass('none');
                    }

                    // 更新购物车
                    if (updateFlag !== false) {
                        methods.updateCart(input, obj_ident, value);
                    }

                }

                // 单选
                $('.ms-jsRadio').on('click', function (e) {
                    if (!select_flag) return false;
                    select_flag = false;

                    // 按钮是否选中
                    var bool = $(this).hasClass('active'); // 是否已经选中
                    bool ? $(this).removeClass('active') : $(this).addClass('active');

                    // 查看是否全选
                    methods.isAll();

                    // 获取参数
                    var obj_idents = $(this).attr('obj_indent');
                    var selected = !bool ? 1 : 0;

                    // 修改提交
                    submit_flag = false;

                    methods.switchSelect(obj_idents, selected);
                });
            </script>
        </div>


        <div class="ms-indexFloor">
            <div class="ms-pack">
                <div class="hd">
                    <a href="javascript:void(0);">
                        <span>猜你喜欢</span>
                        <!--<i class="ms-icon ms-icon-circular-right"></i>-->
                    </a>
                </div>
                <div class="content">
                    <div class="ms-list">
                        <div class="ms-list-item clearfix">
                            <div class="item">
                                <a href="/wap/product-677.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/8a/9f/8a9f0250e87f50ba928e656a036ec6ee.png#h" alt="日式简约质感家居地毯">
                                        </div>
                                        <span class="tag">3色可选</span>                            </div>
                                    <div class="info">
                                        <p class="brief">天然乳胶垫，防滑耐磨</p>                                <div class="tag">
                                    </div>
                                        <p class="name">日式简约质感家居地毯</p>
                                        <p class="price"><span>¥69.9</span></p>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/wap/product-669.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/5d/11/5d11c5dc8f792c2b1805f6886cc39c43.png#h" alt="韩国777美护指甲刀">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p class="brief">韩国原产，获120多项专利</p>                                <div class="tag">
                                    </div>
                                        <p class="name">韩国777美护指甲刀</p>
                                        <p class="price"><span>¥25.9</span></p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="ms-list-item clearfix">

                            <div class="item">
                                <a href="/wap/product-655.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/8f/0c/8f0c3ab60945a44ce4adc940a6048026.png#h" alt="360°旋转双面立镜">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p class="brief">99.9%镜面反光率</p>                                <div class="tag">
                                    </div>
                                        <p class="name">360°旋转双面立镜</p>
                                        <p class="price"><span>¥19.9</span></p>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/wap/product-649.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/dc/b7/dcb7956993a2656ae5f428bf89557611.png#h" alt="进口榉木多功能铲勺厨具">
                                        </div>
                                        <span class="tag">可单买可组合</span>                            </div>
                                    <div class="info">
                                        <p class="brief">无漆无蜡，天然健康</p>                                <div class="tag">
                                    </div>
                                        <p class="name">进口榉木多功能铲勺厨具</p>
                                        <p class="price"><span>¥12.9</span></p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="ms-list-item clearfix">

                            <div class="item">
                                <a href="/wap/product-646.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/63/f6/63f656324eeb3598302b19dcb0a543ad.png#h" alt="铁木结合磨砂防滑门背挂">
                                        </div>
                                        <span class="tag">3种规格</span>                            </div>
                                    <div class="info">
                                        <p class="brief">免钉无痕，牢固耐用</p>                                <div class="tag">
                                    </div>
                                        <p class="name">铁木结合磨砂防滑门背挂</p>
                                        <p class="price"><span>¥12.9</span></p>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/wap/product-643.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/bf/4f/bf4f6ff21191fe7bc4cc78b35b07e5a1.png#h" alt="樱花合金筷套装-六双装">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p class="brief">无漆无蜡，不易发霉</p>                                <div class="tag">
                                    </div>
                                        <p class="name">樱花合金筷套装-六双装</p>
                                        <p class="price"><span>¥59.9</span></p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="ms-list-item clearfix">

                            <div class="item">
                                <a href="/wap/product-642.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/df/29/df2993ceaa55ea9d278ee82b98606142.png#h" alt="日式樱花木筷-四双装">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p class="brief">进口天然铁木，坚硬耐用</p>                                <div class="tag">
                                    </div>
                                        <p class="name">日式樱花木筷-四双装</p>
                                        <p class="price"><span>¥39.9</span></p>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/wap/product-641.html" class="ms-product-item">
                                    <div class="pic">
                                        <div>
                                            <img src="http://s1.hgcang.com/bsimg/ec/public/images/e2/63/e263352f9c8b40501e12309d8ae5dcd8.png#h" alt="红檀木中华筷套装-十双装">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p class="brief">无油无漆，健康质作</p>                                <div class="tag">
                                    </div>
                                        <p class="name">红檀木中华筷套装-十双装</p>
                                        <p class="price"><span>¥29.9</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ms-bottomHandle ms-middle ms-shoppingBottom" style="bottom: 1.333333rem">
            <div class="content">
                <div class="count start ms-jsAllChose active">
                    <a href="javascript:void(0);" class="ms-jsAllChose active"></a>
                    已选(<span id="count">2</span>)
                </div>
                <div class="price end">
                    ¥ <span id="price">34.80</span>
                </div>
                <div class="btn red" id="checkoutBtn">
                    <button id="checkout"><label>下单</label></button>
                </div>
                <div class="btn yellow" id="multiAddBtn" style="display: none">
                    <button><label>移至收藏夹</label></button>
                </div>
                <div class="btn red" id="multiDelBtn" style="display: none">
                    <button><label>删除</label></button>
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
</body>
</html>