<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>广告位置</h4>      
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-box row">
                        <div class="col-md-8">
                            <form action="" method="get">
                                <div class="form-group">
                                    <span class="pull-left form-span">团购标题:</span>
                                    <input type="text" name="keywords" value="{$Think.get.keywords}" class="form-control" placeholder="请输入活动名称">
                                </div>                            
                                <div class="form-group btn-search">
                                    <button class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> 筛选</button>
                                </div>  
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a href="{:U('promotion/addGroupBuy')}" class="btn btn-primary pull-right ">添加活动</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table  table-header">
                            <thead>
                                <tr>
                                    <td>团购标题</td>
                                    <td>团购价</td>
                                    <td>开始时间</td>
                                    <td>结束时间</td>
                                    <td>已参团</td>
                                    <td>参团库存</td>
                                    <td>折扣</td>
                                    <td>是否推荐</td>
                                    <td>查看</td>
                                    <td class="w10" align="center">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <if condition="$list['data']">
                                    <foreach name="list.data" item="vo">
                                        <tr>
                                            <td>{$vo.title|getSubstr=0,30}</td>
                                            <td>{$vo.price}</td>
                                            <td>{$vo.start_time|date="Y-m-d",###}</td>
                                            <td>{$vo.end_time|date="Y-m-d",###}</td>
                                            <td>{$vo.buy_num}</td>
                                            <td>{$vo.goods_num}</td>
                                            <td>{$vo.rebate}</td>
                                            <td><img width="20" height="20" src="__ADMIN_IMAGES__/<if condition='$vo[recommended] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('groupBuy','id','{$vo.id}','recommended',this)"/></td>
                                            <td>{$vo.views}</td>
                                            <td align="center">
                                                <a href="{:U('promotion/editGroupBuy', array('id'=>$vo['id']))}">修改</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('promotion/delGroupBuy', array('id'=>$vo['id']))}">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                    <tr>
                                        <td colspan="10" align="right">{$list.page}</td>
                                    </tr>
                                <else/>
                                    <tr>
                                        <td colspan="10">暂无数据</td>
                                    </tr>
                                </if>
                                
                            </tbody>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
