<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
    <script type="text/javascript">
        /*
         * 在线编辑器相 关配置 js 
         *  参考 地址 http://fex.baidu.com/ueditor/
         */
        window.UEDITOR_Admin_URL = "__ADMIN_PLUGINS__/Ueditor/";
        var URL_upload = "{$URL_upload}";
        var URL_fileUp = "{$URL_fileUp}";
        var URL_scrawlUp = "{$URL_scrawlUp}";
        var URL_getRemoteImage = "{$URL_getRemoteImage}";
        var URL_imageManager = "{$URL_imageManager}";
        var URL_imageUp = "{$URL_imageUp}";
        var URL_getMovie = "{$URL_getMovie}";
        var URL_home = "{$URL_home}";
    </script>
    <script type="text/javascript" charset="utf-8" src="__ADMIN_PLUGINS__/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__ADMIN_PLUGINS__/Ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__ADMIN_PLUGINS__/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">  
      
        var editor;
        $(function () {
            //具体参数配置在  editor_config.js  中
            var options = {
                zIndex: 999,
                initialFrameWidth: "95%", //初化宽度
                initialFrameHeight: 400, //初化高度
                focus: false, //初始化时，是否让编辑器获得焦点true或false
                maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign'
                , //允许的最大字符数 'fullscreen',
                pasteplain: true, autoHeightEnabled: true,
                autotypeset: {
                    mergeEmptyline: true,        //合并空行
                    removeClass: true,           //去掉冗余的class
                    removeEmptyline: false,      //去掉空行
                    textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                    imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                    pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                    clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                    clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                    removeEmptyNode: false,      // 去掉空节点
                                                 //可以去掉的标签
                    removeTagNames: {"font": 1},
                    indent: false,               // 行首缩进
                    indentValue: '0em'           //行首缩进的大小
                },
                toolbars: [
                       ['fullscreen', 'source', '|', 'undo', 'redo',
                           '|', 'bold', 'italic', 'underline', 'fontborder',
                           'strikethrough', 'superscript', 'subscript',
                           'removeformat', 'formatmatch', 'autotypeset',
                           'blockquote', 'pasteplain', '|', 'forecolor',
                           'backcolor', 'insertorderedlist',
                           'insertunorderedlist', 'selectall', 'cleardoc', '|',
                           'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                           'customstyle', 'paragraph', 'fontfamily', 'fontsize',
                           '|', 'directionalityltr', 'directionalityrtl',
                           'indent', '|', 'justifyleft', 'justifycenter',
                           'justifyright', 'justifyjustify', '|', 'touppercase',
                           'tolowercase', '|', 'link', 'unlink', 'anchor', '|',
                           'imagenone', 'imageleft', 'imageright', 'imagecenter',
                           '|', 'insertimage', 'emotion', 'insertvideo',
                           'attachment', 'map', 'gmap', 'insertframe',
                           'insertcode', 'webapp', 'pagebreak', 'template',
                           'background', '|', 'horizontal', 'date', 'time',
                           'spechars', 'wordimage', '|',
                           'inserttable', 'deletetable',
                           'insertparagraphbeforetable', 'insertrow', 'deleterow',
                           'insertcol', 'deletecol', 'mergecells', 'mergeright',
                           'mergedown', 'splittocells', 'splittorows',
                           'splittocols', '|', 'print', 'preview', 'searchreplace']
                   ]
            };
            editor = new UE.ui.Editor(options);
            editor.render("goods_content");  //  指定 textarea 的  id 为 goods_content

        }); 
    </script>
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>添加商品</h4>     
                            <a href="javascript:history.go(-1)">
                                <button class="btn btn-default"><i class="fa fa-level-up"></i>返回</button>
                            </a> 
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_tongyong" data-toggle="tab">通用信息</a></li>
                            <li><a href="#tab_goods_images" data-toggle="tab">商品相册</a></li>
                            <li><a href="#tab_goods_spec" data-toggle="tab">商品规格</a></li>                        
                            <li><a href="#tab_goods_attr" data-toggle="tab">商品属性</a></li>                        
                        </ul>
                        <form action="{:U('goods/addGoods')}" class="form-horizontal" method="post">
                            <div class="tab-content">                     
                                <div class="tab-pane active" id="tab_tongyong">
                                    <table class="table contact-template-form">
                                        <tbody>
                                            <tr>
                                                <td width="20%" align="right">商品名称：</td>
                                                <td>
                                                    <input type="text" name="goods_name" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">商品简介：</td>
                                                <td>
                                                    <textarea name="goods_remark" id="" class="form-control w-300"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">商品货号：</td>
                                                <td>
                                                    <input type="text" name="goods_sn" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>                                            
                                            <tr>
                                                <td width="20%" align="right">商品分类：</td>
                                                <td>
                                                    <select name="cat_id" id="" class="form-control w-300">
                                                        <option value="0">请选择商品分类</option>
                                                        <foreach name="category" item="vo">
                                                            <option value="{$vo.cat_id}">{$vo.html}{$vo.cat_name}</option>
                                                        </foreach>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">商品品牌：</td>
                                                <td>
                                                    <select name="brand_id" id="" class="form-control w-300">
                                                        <option value="0">所有品牌</option>
                                                        <foreach name="brand" item="vo">
                                                            <option value="{$vo.brand_id}">{$vo.brand_name}</option>
                                                        </foreach>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">本店售价：</td>
                                                <td>
                                                    <input type="text" name="shop_price" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">市场价：</td>
                                                <td>
                                                    <input type="text" name="market_price" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">上传商品图片：</td>
                                                <td>
                                                    <div class="col-sm-3">                                                                              
                                                        <input type="text" value="" name="goods_thumb" id="goods_thumb" class="form-control" style="width:350px;margin-left:-15px;"/>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input onclick="GetUploadify(1,'goods_thumb','goods');" type="button" class="btn btn-default" value="上传logo"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">
                                                    商品重量：
                                                </td>
                                                <td>
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="weight" placeholder="商品重量"> 克 (以克为单位)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">
                                                    是否包邮：
                                                </td>
                                                <td>
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <input type="radio" class="form-control" name="is_free_shipping" value="0" checked> 否
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="radio" class="form-control" name="is_free_shipping" value="1"> 是
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">库存数量：</td>
                                                <td>
                                                    <input type="text" name="goods_number" value="1" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">赠送积分：</td>
                                                <td>
                                                    <input type="text" name="keywords" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">商品关键词：</td>
                                                <td>
                                                    <input type="text" name="give_integral" class="form-control w-300" placeholder="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="right">商品详情描述：</td>
                                                <td>
                                                    <textarea class="" name="goods_content" id="goods_content"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>   
                                </div>
                                <div class="tab-pane" id="tab_goods_images">
                                    <table class="table contact-template-form">
                                        <tbody>
                                            <tr>                                    
                                                <td>                                    
                                                <foreach name="goodsImages" item="vo" key="k" >
                                                    <div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
                                                        <input type="hidden" value="{$vo['image_url']}" name="goods_images[]">
                                                        <a onclick="" href="{$vo['image_url']}" target="_blank"><img width="100" height="100" src="{$vo['image_url']}"></a>
                                                        <br>
                                                        <a href="javascript:void(0)" onclick="ClearPicArr2(this,'{$vo['image_url']}')">删除</a>
                                                    </div>
                                                </foreach>
                                                
                                                    <div class="goods_xc" style="width:100px; text-align:center; margin: 5px; display:inline-block;">
                                                        <input type="hidden" name="goods_images[]" value="" />
                                                        <a href="javascript:void(0);" onclick="GetUploadify(10,'','goods','call_back2');"><img src="__ADMIN_IMAGES__/add-button.jpg" width="100" height="100" /></a>
                                                        <br/>
                                                        <a href="javascript:void(0)">&nbsp;&nbsp;</a>
                                                    </div>                                        
                                                </td>
                                            </tr>                                              
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_goods_spec">
                                    <table class="table table-hover contact-template-form" id="goods_spec_table">                                
                                        <tr>
                                            <td width="20%" align="right">商品类型:</td>
                                            <td>                                        
                                              <select name="spec_type" id="spec_type" class="form-control" style="width:250px;">
                                                <option value="0">选择商品类型</option>
                                                <foreach name="goodsType" item="vo" key="k" >
                                                    <option value="{$vo.id}"<if condition="$goodsInfo[spec_type] eq $vo[id]"> selected="selected" </if> >{$vo.name}</option>
                                                </foreach>                                        
                                              </select>
                                            </td>
                                        </tr>     
                                                                   
                                    </table>
                                    <div id="ajax_spec_data"><!-- ajax 返回规格--></div>
                                </div>
                                <div class="tab-pane" id="tab_goods_attr">
                                    <table class="table table-hover contact-template-form" id="goods_attr_table">                                
                                        <tr>
                                            <td width="20%" align="right">商品属性:</td>
                                            <td>                                        
                                              <select name="goods_type" id="goods_type" class="form-control" style="width:250px;">
                                                <option value="0">选择商品属性</option>
                                                <foreach name="goodsType" item="vo" key="k" >
                                                    <option value="{$vo.id}"<if condition="$goodsInfo[goods_type] eq $vo[id]"> selected="selected" </if> >{$vo.name}</option>
                                                </foreach>                                        
                                              </select>
                                            </td>
                                        </tr>                                
                                    </table>
                                </div>
                            </div> 
                            <input type="hidden" name="goods_id" value="{$goodsInfo.goods_id}">
                            <button class="btn btn-primary" style="margin-left:20%">提 交</button>         
                        </form>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
    <script>
        /*
         * 以下是图片上传方法
         */
        // 上传商品图片成功回调函数
        function call_back(fileurl_tmp){
            $("#original_img").val(fileurl_tmp);
            $("#original_img2").attr('href', fileurl_tmp);
        }
     
        // 上传商品相册回调函数
        function call_back2(paths){
            
            var  last_div = $(".goods_xc:last").prop("outerHTML");  
            for (i=0;i<paths.length ;i++ )
            {                    
                $(".goods_xc:eq(0)").before(last_div);  // 插入一个 新图片
                    $(".goods_xc:eq(0)").find('a:eq(0)').attr('href',paths[i]).attr('onclick','').attr('target', "_blank");// 修改他的链接地址
                $(".goods_xc:eq(0)").find('img').attr('src',paths[i]);// 修改他的图片路径
                    $(".goods_xc:eq(0)").find('a:eq(1)').attr('onclick',"ClearPicArr2(this,'"+paths[i]+"')").text('删除');
                $(".goods_xc:eq(0)").find('input').val(paths[i]); // 设置隐藏域 要提交的值
            }              
        }
        /*
         * 上传之后删除组图input     
         * @access   public
         * @val      string  删除的图片input
         */
        function ClearPicArr2(obj,path)
        {
            $.ajax({
                type:'GET',
                url:"{:U('Admin/Uploadify/delupload')}",
                data:{action:"del", filename:path},
                success:function(){
                       $(obj).parent().remove(); // 删除完服务器的, 再删除 html上的图片                
                }
            });
            // 删除数据库记录
            $.ajax({
                type:'GET',
                url:"{:U('Admin/Goods/del_goods_images')}",
                data:{filename:path},
                success:function(){
                      //         
                }
            });     
        }
     


    /** 以下 商品属性相关 js*/
    $(document).ready(function(){
        // 商品类型切换时 ajax 调用  返回不同的属性输入框
        $("#goods_type").change(function(){        
            var goods_id = $("input[name='goods_id']").val();
            var type_id = $(this).val();
            $.ajax({
                type:'GET',
                data:{goods_id:goods_id,type_id:type_id}, 
                url:"/index.php/admin/Goods/ajaxGetAttrInput",
                success:function(data){                            
                    $("#goods_attr_table tr:gt(0)").remove()
                    $("#goods_attr_table").append(data);
                }        
            });                         
        });
        // 触发商品类型
        $("#goods_type").trigger('change');
    });
     

    // 属性输入框的加减事件
    function addAttr(a)
    {
        var attr = $(a).parent().parent().prop("outerHTML");    
        attr = attr.replace('addAttr','delAttr').replace('+','-');  
        $(a).parent().parent().after(attr);
    }
    // 属性输入框的加减事件
    function delAttr(a)
    {
       $(a).parent().parent().remove();
    }
     

    /** 以下 商品规格相关 js*/
    $(document).ready(function(){
        // 商品类型切换时 ajax 调用  返回不同的属性输入框
        $("#spec_type").change(function(){        
            var goods_id = '{$goodsInfo.goods_id}';
            var spec_type = $(this).val();
            $.ajax({
                type:'GET',
                data:{goods_id:goods_id,spec_type:spec_type}, 
                url:"{:U('admin/Goods/ajaxGetSpecSelect')}",
                success:function(data){                            
                    $("#ajax_spec_data").html('')
                    $("#ajax_spec_data").append(data);                   
                    ajaxGetSpecInput();  // 触发完  马上触发 规格输入框
                }
            });                         
        });
        // 触发商品规格
        $("#spec_type").trigger('change'); 
    });
    </script>
</body>
</html>
