<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>商品分类</h4>      
                        </div>
                        <a href="{:U('goods/addCate')}" class="btn btn-primary pull-right margin-top">添加分类</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table table-hover table-header" id="list-table">
                            <thead>
                                <tr>
                                    <td>分类ID</td>
                                    <td>分类名称</td>
                                    <td>是否显示</td>
                                    <td>排序</td>
                                    <td class="w15">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="category" item="vo">
                                    <tr class="{$vo.level}" id="{$vo.level}_{$vo.cat_id}" <if condition="$vo[level] gt 1">style="display:none"</if>>
                                        <td>{$vo.cat_id}</td>
                                        <td>{$vo.html}<span class="glyphicon glyphicon-plus btn-warning" style="padding:2px; font-size:12px;"  id="icon_{$vo.level}_{$vo.cat_id}" aria-hidden="false" onclick="rowClicked(this)" ></span>&nbsp; {$vo.cat_name}</td>
                                        <td>
                                            <img width="20" height="20" src="__ADMIN_IMAGES__/<if condition='$vo[is_show] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goodsCate','cat_id','{$vo.cat_id}','is_show',this)"/>
                                        </td>
                                        <td><input type="text" onchange="updateSort('goodsCate','cat_id','{$vo.cat_id}','sort',this)" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')"  size="4" value="{$vo.sort}" class="form-control" style="width:80px" /></td>
                                        
                                        <td>
                                            <a href="{:U('goods/editCate',array('cat_id'=>$vo['cat_id']))}" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> 编辑</a>
                                            <a href="{:U('goods/delCate',array('cat_id'=>$vo['cat_id']))}" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> 删除</a>
                                        </td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
        <script type="text/javascript">
    function rowClicked(obj)
    {
      span = obj;

      obj = obj.parentNode.parentNode;

      var tbl = document.getElementById("list-table");

      var lvl = parseInt(obj.className);

      var fnd = false;
      
      var sub_display = $(span).hasClass('glyphicon-minus') ? 'none' : '' ? 'block' : 'table-row' ;
      //console.log(sub_display);
      if(sub_display == 'none'){
          $(span).removeClass('glyphicon-minus btn-info');
          $(span).addClass('glyphicon-plus btn-warning');
      }else{
          $(span).removeClass('glyphicon-plus btn-info');
          $(span).addClass('glyphicon-minus btn-warning');
      }

      for (i = 0; i < tbl.rows.length; i++)
      {
          var row = tbl.rows[i];
          
          if (row == obj)
          {
              fnd = true;         
          }
          else
          {
              if (fnd == true)
              {
                  var cur = parseInt(row.className);
                  var icon = 'icon_' + row.id;
                  if (cur > lvl)
                  {
                      row.style.display = sub_display;
                      if (sub_display != 'none')
                      {
                          var iconimg = document.getElementById(icon);
                          $(iconimg).removeClass('glyphicon-plus btn-info');
                          $(iconimg).addClass('glyphicon-minus btn-warning');
                      }else{                    
                          $(iconimg).removeClass('glyphicon-minus btn-info');
                          $(iconimg).addClass('glyphicon-plus btn-warning');
                      }
                  }
                  else
                  {
                      fnd = false;
                      break;
                  }
              }
          }
      }

      for (i = 0; i < obj.cells[0].childNodes.length; i++)
      {
          var imgObj = obj.cells[0].childNodes[i];
          if (imgObj.tagName == "IMG")
          {
              if($(imgObj).hasClass('glyphicon-plus btn-info')){
                  $(imgObj).removeClass('glyphicon-plus btn-info');
                  $(imgObj).addClass('glyphicon-minus btn-warning');
              }else{
                  $(imgObj).removeClass('glyphicon-minus btn-warning');
                  $(imgObj).addClass('glyphicon-plus btn-info');
              }
          }
      }

    }
    </script>
</body>
</html>
