<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header">
                        <div class="pull-left">
                            <h4>编辑商品规格</h4>     
                            <a href="javascript:history.go(-1)">
                                <button class="btn btn-default"><i class="fa fa-level-up"></i>返回</button>
                            </a> 
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <form action="{:U('goods/editSpec')}" class="form-horizontal" method="post" onsubmit="return checkName();" id="addEditSpecForm">
                            <input type="hidden" name="id" value="{$data.id}" />
                            <table class="table table-hover contact-template-form">
                                <tbody>
                                    <tr>
                                        <td width="20%" align="right">规格名称：</td>
                                        <td>
                                            <input type="text" name="name" value="{$data.name}" class="form-control w-300" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">所属商品类型：</td>
                                        <td>
                                            <select name="type_id" id="" class="form-control w-300">
                                                <option value="0">请选择</option>
                                                <foreach name="goodsTypeList" item="vo">
                                                    <option value="{$vo.id}" <if condition="$vo['id'] eq $data['type_id']">selected</if>>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">规格项：</td>
                                        <td>
                                            <textarea name="items" class="form-control w-300 pull-left">{$data.items}</textarea>
                                            <div class="tip-text">一行为一个规格项。</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">排序：</td>
                                        <td>
                                            <input type="text" name="sort" class="form-control w-300" value="{$data.sort}" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%"></td>
                                        <td>
                                            <button class="btn btn-primary">提 交</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </form>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
    <script type="text/javascript">
    // 判断输入框是否为空
    function checkName(){
        var name = $("#addEditSpecForm").find("input[name='name']").val();
        if($.trim(name) == '')
        {
            layer.msg('规格名称不能为空！')
            return false;
        }
        return true;
    }
    </script>
</body>
</html>
