<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header">
                        <div class="pull-left">
                            <h4>商品属性</h4>      
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-box row">
                        <div class="col-md-8">
                            <form action="" method="get">
                                <div class="form-group">
                                    <span class="pull-left form-span">关键词:</span>
                                    <select name="type_id" id="" class="form-control">
                                        <option value="">所有分类</option>
                                        <foreach name="goodsTypeList" item="vo">
                                            <option value="{$vo.id}" <if condition="$Think.get.type_id eq $vo['id']">selected</if>>{$vo.name}</option>
                                        </foreach>
                                    </select>
                                </div>
                                <div class="form-group btn-search">
                                    <button class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> 筛选</button>
                                </div>  
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a href="{:U('goods/addGoodsAttribute')}" class="btn btn-primary pull-right ">添加商品属性</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table table-hover table-header">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>属性名称</td>
                                    <td>商品类型</td>
                                    <td>属性值输入的方式</td>
                                    <td>可选值列表</td>
                                    <td>筛选</td>
                                    <td>排序</td>
                                    <td class="w10">操作</td>
                                </tr>
                            </thead>
                            <if condition="$list['data']">
                                <tbody>
                                    <foreach name="list.data" item="vo"> 
                                        <tr>
                                            <td>{$vo.attr_id}</td>
                                            <td class="text-left">{$vo.attr_name}</td>
                                            <td class="text-left">{$vo.typeName}</td>
                                            <td class="text-left">{$attr_input_type[$vo[attr_input_type]]}</td>
                                            <td class="text-left">{$vo.attr_values|mb_substr=0,30,'utf-8'}</td> 
                                            <td>
                                                <if condition="$vo['attr_index'] eq 1">
                                                    <span class="glyphicon glyphicon-ok text-success"></span>
                                                <else />
                                                    <span class="glyphicon glyphicon-remove text-warning"></span>
                                                </if>
                                            </td>                      
                                            <td><input type="text" onchange="updateSort('goods_attribute','attr_id','{$vo.attr_id}','sort',this)" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')"  size="4" value="{$vo.sort}" class="form-control" style="width:80px" /></td>                      
                                            <td>
                                                <a href="{:U('goods/editGoodsAttribute',array('attr_id'=>$vo['attr_id']))}">编辑</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('goods/delGoodsAttribute',array('attr_id'=>$vo['attr_id']))}">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" align="right">{$list.page}</td>
                                    </tr>
                                </tfoot>
                            <else />
                                <tr>
                                    <td colspan="8">暂无数据</td>
                                </tr>
                            </if>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
