<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>商品类型</h4>      
                        </div>
                        <a href="{:U('goods/addGoodsType')}" class="btn btn-primary pull-right ">添加商品类型</a>
                    </div>
                    <div class="table-margin">
                        <table class="table table-hover table-header">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>类型名</td>
                                    <td class="w15">操作</td>
                                </tr>
                            </thead>
                            <if condition="$list['data']">
                                <tbody>
                                    <foreach name="list.data" item="vo"> 
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.name}</td>                            
                                            <td>
                                                <a href="{:U('goods/goodsAttributeList',array('type_id'=>$vo['id']))}">属性</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('goods/editGoodsType',array('id'=>$vo['id']))}">编辑</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('goods/delGoodsType',array('id'=>$vo['id']))}">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" align="right">{$list.page}</td>
                                    </tr>
                                </tfoot>
                            <else />
                                <tr>
                                    <td colspan="3">暂无数据</td>
                                </tr>
                            </if>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
