<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
    <script type="text/javascript">
        /*
         * 在线编辑器相 关配置 js 
         *  参考 地址 http://fex.baidu.com/ueditor/
         */
        window.UEDITOR_Admin_URL = "__ADMIN_PLUGINS__/Ueditor/";
        var URL_upload = "{$URL_upload}";
        var URL_fileUp = "{$URL_fileUp}";
        var URL_scrawlUp = "{$URL_scrawlUp}";
        var URL_getRemoteImage = "{$URL_getRemoteImage}";
        var URL_imageManager = "{$URL_imageManager}";
        var URL_imageUp = "{$URL_imageUp}";
        var URL_getMovie = "{$URL_getMovie}";
        var URL_home = "{$URL_home}";
    </script>
    <script type="text/javascript" charset="utf-8" src="__ADMIN_PLUGINS__/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__ADMIN_PLUGINS__/Ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__ADMIN_PLUGINS__/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">  
      
        var editor;
        $(function () {
            //具体参数配置在  editor_config.js  中
            var options = {
                zIndex: 999,
                initialFrameWidth: "95%", //初化宽度
                initialFrameHeight: 400, //初化高度
                focus: false, //初始化时，是否让编辑器获得焦点true或false
                maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign'
                , //允许的最大字符数 'fullscreen',
                pasteplain: true, autoHeightEnabled: true,
                autotypeset: {
                    mergeEmptyline: true,        //合并空行
                    removeClass: true,           //去掉冗余的class
                    removeEmptyline: false,      //去掉空行
                    textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                    imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                    pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                    clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                    clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                    removeEmptyNode: false,      // 去掉空节点
                                                 //可以去掉的标签
                    removeTagNames: {"font": 1},
                    indent: false,               // 行首缩进
                    indentValue: '0em'           //行首缩进的大小
                },
                toolbars: [
                       ['fullscreen', 'source', '|', 'undo', 'redo',
                           '|', 'bold', 'italic', 'underline', 'fontborder',
                           'strikethrough', 'superscript', 'subscript',
                           'removeformat', 'formatmatch', 'autotypeset',
                           'blockquote', 'pasteplain', '|', 'forecolor',
                           'backcolor', 'insertorderedlist',
                           'insertunorderedlist', 'selectall', 'cleardoc', '|',
                           'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                           'customstyle', 'paragraph', 'fontfamily', 'fontsize',
                           '|', 'directionalityltr', 'directionalityrtl',
                           'indent', '|', 'justifyleft', 'justifycenter',
                           'justifyright', 'justifyjustify', '|', 'touppercase',
                           'tolowercase', '|', 'link', 'unlink', 'anchor', '|',
                           'imagenone', 'imageleft', 'imageright', 'imagecenter',
                           '|', 'insertimage', 'emotion', 'insertvideo',
                           'attachment', 'map', 'gmap', 'insertframe',
                           'insertcode', 'webapp', 'pagebreak', 'template',
                           'background', '|', 'horizontal', 'date', 'time',
                           'spechars', 'wordimage', '|',
                           'inserttable', 'deletetable',
                           'insertparagraphbeforetable', 'insertrow', 'deleterow',
                           'insertcol', 'deletecol', 'mergecells', 'mergeright',
                           'mergedown', 'splittocells', 'splittorows',
                           'splittocols', '|', 'print', 'preview', 'searchreplace']
                   ]
            };
            editor = new UE.ui.Editor(options);
            editor.render("content");  //  指定 textarea 的  id 为 goods_content

        }); 
    </script>
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>添加分类</h4>     
                            <a href="javascript:history.go(-1)">
                                <button class="btn btn-default"><i class="fa fa-level-up"></i>返回</button>
                            </a> 
                        </div>
                    </div>
                    <div class="table-margin">
                        <form action="{:U('article/addArt')}" class="form-horizontal" method="post">
                            <table class="table table-hover contact-template-form">
                                <tbody>
                                    <tr>
                                        <td width="20%" align="right">文章标题：</td>
                                        <td>
                                            <input type="text" name="title" class="form-control w-300" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">文章类别：</td>
                                        <td>
                                            <select name="cat_id" id="" class="form-control w-300">
                                                <option value="0">选择类别</option>
                                                <foreach name="category" item="vo">
                                                    <option value="{$vo.cat_id}">{$vo.html}{$vo.cat_name}</option>
                                                </foreach>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">banner图：</td>
                                        <td>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" style="width:350px;margin-left:-15px;" name="thumb" id="thumb" value="" >
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="button" class="btn btn-default" onClick="GetUploadify(1,'thumb','article','')"  value="上传图片"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">搜索关键词：</td>
                                        <td>
                                            <input type="text" name="keywords" class="form-control w-300" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">搜索描述：</td>
                                        <td>
                                            <textarea class="form-control w-300" name="description"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">是否显示：</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" name="is_open" id="inlineRadio1" value="1"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="is_open" id="inlineRadio2" value="0" checked> 否
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" align="right">文章内容：</td>
                                        <td>
                                            <textarea class="" name="content" id="content"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%"></td>
                                        <td>
                                            <button class="btn btn-primary">提 交</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </form>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
