<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>账户资金记录列表</h4>      
                            <a href="javascript:history.go(-1)">
                                <button class="btn btn-default"><i class="fa fa-level-up"></i>返回</button>
                            </a> 
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-box row">
                        <div class="col-md-8">
                            <form action="" method="get">
                                <div class="form-group">
                                    <span class="pull-left form-span">查询:</span>
                                    <select class="form-control" name="account_type">
                                        <option value="" <if condition="$Think.get.account_type eq 'S'">selected</if>>请选择</option>
                                        <option value="use_money" <if condition="$Think.get.account_type eq 'use_money'">selected</if>>可用资金账户</option>
                                        <option value="frozen_money" <if condition="$Think.get.account_type eq 'frozen_money'">selected</if>>冻结资金账户</option>
                                        <option value="pay_points" <if condition="$Think.get.account_type eq 'pay_points'">selected</if>>积分账户</option>
                                    </select>
                                </div>
                                <div class="form-group btn-search">
                                    <button class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> 筛选</button>
                                </div>  
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a href="{:U('user/addAccount',array('user_id'=>$_GET['user_id']))}" class="btn btn-primary pull-right ">调节会员账户</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table table-hover table-header">
                            <thead>
                                <tr>
                                    <td>账户变动时间</td>
                                    <td>账户变动原因</td>
                                    <td>可用资金账户</td>
                                    <td>冻结资金账户</td>
                                    <td>积分账户</td>
                                </tr>
                            </thead>
                            <if condition="$list['data']">
                                <tbody>
                                    <foreach name="list.data" item="vo"> 
                                        <tr>
                                            <td>{$vo.change_time|date="Y-m-d H:i",###}</td>
                                            <td>{$vo.change_desc}</td>
                                            <td>{$vo.use_money}</td>
                                            <td>{$vo.frozen_money}</td>
                                            <td>{$vo.pay_points}</td>
                                        </tr>
                                    </foreach>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" align="right">{$list.page}</td>
                                    </tr>
                                </tfoot>
                            <else />
                                <tr>
                                    <td colspan="5">暂无数据</td>
                                </tr>
                            </if>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
