<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>会员列表</h4>      
                        </div>
                        <a href="{:U('user/addUser')}" class="btn btn-primary pull-right ">添加会员</a>
                    </div>
                    <div class="search-box row">
                        <div class="col-md-12">
                            <form action="" method="get">
                                <div class="form-group">
                                    <span class="pull-left form-span">会员昵称:</span>
                                    <input type="text" name="nickname" value="{$Think.get.nickname}" class="form-control" placeholder="请输入会员昵称">
                                </div>
                                <div class="form-group">
                                    <span class="pull-left form-span">手机号:</span>
                                    <input type="text" name="mobile" value="{$Think.get.mobile}" class="form-control" placeholder="请输入手机号"> 
                                </div>
                                <div class="form-group">
                                    <span class="pull-left form-span">身份证号码:</span>
                                    <input type="text" name="idcard" value="{$Think.get.idcard}" class="form-control" placeholder="请输入身份证号码"> 
                                </div>
                                <div class="form-group">
                                    <span class="pull-left form-span">会员状态:</span>
                                    <select class="form-control" name="lock">
                                        <option value="S" <if condition="$Think.get.lock eq 'S'">selected</if>>请选择</option>
                                        <option value="Z" <if condition="$Think.get.lock eq 'Z'">selected</if>>正常</option>
                                        <option value="D" <if condition="$Think.get.lock eq 'D'">selected</if>>冻结</option>
                                    </select>
                                </div>
                                <div class="form-group btn-search">
                                    <button class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> 筛选</button>
                                </div>  
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table table-hover table-header">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>会员昵称</td>
                                    <td>会员等级</td>
                                    <td>手机</td>
                                    <td>身份证</td>
                                    <td>一级代理</td>
                                    <td>二级代理</td>
                                    <td>余额</td>
                                    <td>积分</td>
                                    <td>注册时间</td>
                                    <td>状态</td>
                                    <td class="w15">操作</td>
                                </tr>
                            </thead>
                            <if condition="$list['data']">
                                <tbody>
                                    <foreach name="list.data" item="vo"> 
                                        <tr>
                                            <td>{$vo.user_id}</td>
                                            <td>{$vo.nickname}</td>
                                            <td>{$vo.rankName}</td>
                                            <td>{$vo.mobile}</td>
                                            <td>{$vo.idcard}</td>
                                            <td>{$vo.first_leader}</td>
                                            <td>{$vo.second_leader}</td>
                                            <td>{$vo.use_money}</td>
                                            <td>{$vo.pay_points}</td>
                                            <td>{$vo.reg_time|date="Y-m-d H:i",###}</td>
                                            <td>
                                                <if condition="$vo['is_lock']">冻结<else/>正常</if>
                                            </td>
                                            <td>
                                                <a href="{:U('user/detail',array('user_id'=>$vo['user_id']))}">详情</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('user/address',array('user_id'=>$vo['user_id']))}">收货地址</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('user/account',array('user_id'=>$vo['user_id']))}">账目</a>
                                                <span class="text-explode">|</span>
                                                <a href="{:U('user/delUser',array('user_id'=>$vo['user_id']))}">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="12" align="right">{$list.page}</td>
                                    </tr>
                                </tfoot>
                            <else />
                                <tr>
                                    <td colspan="12">暂无数据</td>
                                </tr>
                            </if>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
