<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Public/meta" />
</head>
<body>
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="container-fluid">
                <div class="info-center">
                    <div class="page-header clearfix">
                        <div class="pull-left">
                            <h4>充值记录</h4>      
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="search-box row">
                        <div class="col-md-8">
                            <form action="" method="get">
                                <div class="form-group">
                                    <span class="pull-left form-span">支付状态:</span>
                                    <select name="pay_status" id="" class="form-control">
                                        <option value="">请选择</option>
                                        <option value="0" <if condition="$_REQUEST['pay_status'] heq '0'">selected</if>>待支付</option>
                                        <option value="1" <if condition="$_REQUEST['pay_status'] eq '1'">selected</if>>已支付</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <span class="pull-left form-span">会员ID:</span>
                                    <input type="text" name="user_id" value="{$Think.get.user_id}" class="form-control" placeholder="请输入会员ID">
                                </div>
                                <div class="form-group btn-search">
                                    <button class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> 筛选</button>
                                </div>  
                            </form>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-margin">
                        <table class="table table-hover table-header">
                            <thead>
                                <tr>
                                    <td>会员ID</td>
                                    <td>会员昵称</td>
                                    <td>充值单号</td>
                                    <td>充值时间</td>
                                    <td>充值金额</td>
                                    <td>支付方式</td>
                                    <td>支付状态</td>
                                </tr>
                            </thead>
                            <if condition="$list['data']">
                                <tbody>
                                    <foreach name="list.data" item="vo"> 
                                        <tr>
                                            <td>{$vo.user_id}</td>
                                            <td><if condition="$vo['nickname']">{$vo.nickname}<else />{$vo.mobile}</if></td>
                                            <td>{$vo.order_sn}</td>
                                            <td>{$vo.add_time|date="Y-m-d H:i",###}</td>
                                            <td>{$vo.account}</td>
                                            <td>{$vo.pay_name}</td>
                                            <td><if condition="$vo['pay_status'] eq 0">待支付<else/>已支付</if></td>
                                        </tr>
                                    </foreach>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" align="right">{$list.page}</td>
                                    </tr>
                                </tfoot>
                            <else />
                                <tr>
                                    <td colspan="7">暂无数据</td>
                                </tr>
                            </if>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
</body>
</html>
