<body style="cursor: auto; zoom: 1;">
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .tags{
        height: 22px;
        background: white;
    	margin-left:20px;
    	margin-top:10px;
    }
    .tags > i{
        background:url('/Public/Admin/images/cancel.png');
        background-repeat:no-repeat;
        width: 16px;
        height: 16px;
    }	
</style>
	<img alt="" src="/plugins/shipping/shentong/template.jpg">
<script src="/Public/Admin/js/jquery-1.9.0.min.js"></script>
<script src="/Public/Admin/js/jquery-ui.min.js" type="text/javascript"></script>
<script>
    $(function(){
        $( ".tags" ).draggable();
		//alert(location.href);
    });
    $( ".tags").dblclick(function(){
        $(this).hide();
    })
</script>

<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 100px; right: auto; height: 22px; bottom: auto; left: 101px; top: -417px;">网店-名称<i style="cursor:default" onclick="$(this).parent().remove();">    </i></div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 130px; right: auto; height: 22px; bottom: auto; left: 221px; top: -450px;">网店-联系电话<i style="cursor:default" onclick="$(this).parent().remove();">    </i></div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 231px; top: -355px;">收件人-手机<i style="cursor:default" onclick="$(this).parent().remove();">    </i></div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 150px; right: auto; height: 22px; bottom: auto; left: 94px; top: -356px;">收件人-详细地址<i style="cursor:default" onclick="$(this).parent().remove();">    </i></div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 94px; top: -420px;">收件人-姓名<i style="cursor:default" onclick="$(this).parent().remove();">    </i></div>
</body>