<body style="cursor: auto; zoom: 1;">
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .tags{
        height: 22px;
        background: white;
    	margin-left:20px;
    	margin-top:10px;
    }
    .tags > i{
        background:url('/Public/Admin/images/cancel.png');
        background-repeat:no-repeat;
        width: 16px;
        height: 16px;
    }	
</style>
	<img src="/plugins/shipping/shunfeng/template.jpg" style="visibility:hidden"/>
<script src="/Public/Admin/js/jquery-1.9.0.min.js"></script>
<script src="/Public/Admin/js/jquery-ui.min.js" type="text/javascript"></script>
<script>
    $(function(){
        
		//alert(location.href);
    });
    $( ".tags").dblclick(function(){
        $(this).hide();
    })
</script>

<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 130px; right: auto; height: 22px; bottom: auto; left: 220px; top: -415px;">{$shop.phone}</div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 223px; top: -324px;">{$order.mobile}</div>

<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 100px; right: auto; height: 22px; bottom: auto; left: 87px; top: -479px;">{$shop.store_name}</div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 77px; top: -359px;">{$order.province}</div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 201px; top: -390px;">{$order.city}</div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 43px; top: -389px;">{$order.district}</div>
<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 150px; right: auto; height: 22px; bottom: auto; left: 168px; top: -421px;">{$order.full_address}</div>




<div class="tags ui-draggable ui-draggable-handle" style="position: relative; width: 120px; right: auto; height: 22px; bottom: auto; left: 90px; top: -518px;">{$order.consignee}</div>

</body>